<p id="notice"><%= notice %></p>

<%= image_tag(@attachment.photo, width: 200) if @attachment.photo.attached? %>
<p>
  <strong>Caption:</strong>
  <%= @attachment.caption %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
