<div class="featured-container">
  <div class='inset-container'>
    <div class='featured-photo-container'>
      <%= image_tag "beverly-bw.png" %>    
    </div>
    <div class='featured-copy-container'>
      <h3>In Loving Memory of</h3>
      <h2>Beverly Beavers</h2>
      <h6>July 14, 1928 - February 10, 2021</h6>
      <div class='action-links-container'>
        <a href="<%= new_gallery_path %>"><button class='lilac-button contribute'>Contribute a Memory</button></a></br>
        <a href="<%= galleries_path %>"><button class='lilac-button browse'>Browse Galleries</button></a>
      </div>
    </div>

  </div>
</div>

<button class='lilac-button affixed-bottom-center'>
  <p>More Below</p>
  <i class="fas fa-arrow-alt-circle-down"></i>
</button>

<div class='section-separator'>
  <h1>Slideshow</h1>
</div>

<div id="carouselControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">

    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>    

    <% Attachment.all.each_with_index do |att, index| %>
      <div class="carousel-item <% if index == 0 %>active<% end %>">
        <%= image_tag att.photo, class: 'carousel-img-front' %>
        <div class="carousel-caption d-none d-md-block">
          <% if att.caption.present? %><p><%= att.caption %></p><% end %>
        </div>          
      </div>     
    <% end %>

  </div>

</div>

<div style="margin-bottom: 15px; box-shadow: 0px 2px 6px 2px black;" class='section-separator'>
  <h1>Galleries</h1>
</div>

<div class='gallery-container col-sm-12'>
  <% Gallery.all.each do |gallery| %>
    <%= render 'galleries/gallery_row', gallery: gallery %>
  <% end %>  
</div>