<div class='gallery-show'>
  <h4 class='gallery-title'><%= @gallery.title %></h4>
  <h6 class='contributor'>Contributed by: <%= @gallery.user.display_name %></h6>
  <div class='description-container'>
    <p>
      <%= @gallery.description %>
    </p>    
  </div>


  <div>
    <% @gallery.attachments.each do |attachment| %>
      <%= image_tag(attachment.photo, width: 200) if attachment.photo.attached? %>  
    <% end %>
  </div>  
</div>



<%= link_to 'Edit', edit_gallery_path(@gallery) %> |
<%= link_to 'Back', galleries_path %>
