<div class='gallery-show'>
  <h4 class='gallery-title'><%= @gallery.title %></h4>
  <h6 class='contributor'>Contributed by: <%= @gallery.user.display_name %></h6>
  <%if @gallery.user === current_user %>
    <span><%= link_to "Edit", edit_gallery_path(@gallery) %></span>
  <% end %>
  <div class='description-container'>
    <p>
      <%= @gallery.description %>
    </p>    
  </div>


  <div class='gallery-photos-container'>
    <% @gallery.attachments.each do |attachment| %>
      <div class='polaroid'>
        <%= image_tag(attachment.photo) if attachment.photo.attached? %>
        <p><%= attachment.caption %></p>
      </div>
  
    <% end %>
  </div> 

   <%= link_to 'Back to Galleries', galleries_path %>
   
</div>


