<!DOCTYPE html>
<html>
  <head>
    <title>Beverly Beavers' Memories</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A tribute website to Beverly Beavers where her family and friends can add photos, leave memories, and view photo galleries pertaining to her life."/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">    
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Karma&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>    
  <div class="navbar-main float-right col-sm-12 container">
    <div class="row">

      <div class="collapse main-nav" id="navbarToggleMobile">
        <div class="navbar-links" style='text-align: center;'>
            <% if user_signed_in? %>
              <strong>Signed In As: <%= current_user.display_name %></strong>
              <a href="<%= edit_user_registration_path %>"><button class='lilac-button'>Edit Profile</button></a>
              <a class="navbar-link" rel="nofollow" data-method="delete" href="/users/sign_out"><button class='lilac-button'>Sign Out</button></a>
            <% else %>
              <strong>Log in or Create an Account Below</strong>
              <a href="<%= new_user_registration_path %>"><button class='lilac-button'>Sign Up</button></a>
              <a href="<%= new_user_session_path %>"><button class='lilac-button'>Log In</button></a>
            <% end %>          
        </div>
            
      </div>      

      <div class='navbar-links col-lg-12 float-right align-items-center'>
        <div class='icon-wrapper'><a class="home-link" href='/'>BB</a></div>
        <div class='user-links navbar-light'>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleMobile" aria-controls="navbarToggleMobile" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>            
        </div>
    
      </div>      
    </div>


  </div>

    <%= yield %>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 


  </body>

</html>
